<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.backend.domain.mapper.CleanupMapper">
    <select id="findAttachmentIdsByTarget" resultType="long">
        SELECT attachment_id
          FROM basic_attachment_link
         WHERE target_type = #{targetType}
           AND target_id = #{targetId}
    </select>

    <delete id="deleteLinksByTarget">
        DELETE FROM basic_attachment_link
         WHERE target_type = #{targetType}
           AND target_id = #{targetId}
    </delete>

    <select id="countLinksByAttachmentId" resultType="int">
        SELECT COUNT(*)
          FROM basic_attachment_link
         WHERE attachment_id = #{attachmentId}
    </select>

    <delete id="deleteAttachmentById">
        DELETE FROM basic_attachment
         WHERE id = #{attachmentId}
    </delete>

    <select id="findOldDeletedNoticeIds" resultType="long">
        SELECT id
          FROM basic_notice
         WHERE status = 'DELETED'
           AND deleted_at IS NOT NULL
           AND deleted_at <![CDATA[<]]> NOW() - INTERVAL '90 days'
    </select>

    <delete id="deleteNoticeById">
        DELETE FROM basic_notice
         WHERE id = #{id}
    </delete>

    <select id="findOldDeletedResourceIds" resultType="long">
        SELECT id
        FROM basic_resource
        WHERE status = 'DELETED'
        AND deleted_at IS NOT NULL
        AND deleted_at <![CDATA[<]]> NOW() - INTERVAL '90 days'
    </select>

    <delete id="deleteResourceById">
        DELETE FROM basic_resource
        WHERE id = #{id}
    </delete>
</mapper>