<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.backend.domain.mapper.LoginHistoryMapper">

    <insert id="insert">
        INSERT INTO basic_login_histories (
            user_id,
            login_result,
            login_at,
            ip_address,
            user_agent,
            fail_reason,
            session_key
        )
        VALUES (
            #{userId},
            #{loginResult},
            NOW(),
            #{ipAddress},
            #{userAgent},
            #{failReason},
            #{sessionKey}
        )
    </insert>

    <update id="updateLogoutBySessionKey">
        UPDATE basic_login_histories
           SET logout_at = NOW()
         WHERE session_key = #{sessionKey}
    </update>

    <select id="findAll" resultType="com.basic.backend.domain.entity.LoginHistoryEntity">
        SELECT *
          FROM basic_login_histories
         ORDER BY id DESC
    </select>

    <update id="updateLatestLogoutByUserId">
        UPDATE basic_login_histories
           SET logout_at = NOW()
         WHERE id = (
            SELECT id
              FROM basic_login_histories
             WHERE user_id = #{userId}
               AND login_result = 'SUCCESS'
               AND logout_at IS NULL
             ORDER BY id DESC
             LIMIT 1
        )
    </update>

    <select id="countTodaySuccess" resultType="long">
        SELECT COUNT(*)
          FROM basic_login_histories
         WHERE login_result = 'SUCCESS'
           AND DATE(login_at) = CURRENT_DATE
    </select>

    <select id="countTodayFail" resultType="long">
        SELECT COUNT(*)
        FROM basic_login_histories
        WHERE login_result = 'FAIL'
        AND DATE(login_at) = CURRENT_DATE
    </select>

</mapper>