<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.backend.domain.mapper.ResourceMapper">

    <select id="findAllPaged" resultType="com.basic.backend.domain.entity.ResourceEntity">
        SELECT *
          FROM basic_resource
        <where>
            <if test="title != null and title !=''">
                AND title ILIKE CONCAT('%' ,#{title}, '%')
            </if>
            AND status != 'DELETED'
        </where>
         ORDER BY pinned_yn DESC, id DESC
         LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM basic_resource
        <where>
            <if test="title != null and title !=''">
                AND title ILIKE CONCAT('%' ,#{title}, '%')
            </if>
            AND status != 'DELETED'
        </where>
    </select>

    <select id="findById" resultType="com.basic.backend.domain.entity.ResourceEntity">
        SELECT *
          FROM basic_resource
         WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO basic_resource (
            title,
            content,
            status,
            pinned_yn,
            view_cnt,
            created_at,
            created_by,
            updated_at,
            updated_by
        )
            VALUES (
            #{title},
            #{content},
            #{status},
            #{pinnedYn},
            0,
            NOW(),
            #{createdBy},
            NOW(),
            #{updatedBy}
        )
    </insert>

    <update id="update">
        UPDATE basic_resource
           SET title = #{title},
               content = #{content},
               status = #{status},
               pinned_yn = #{pinnedYn},
               updated_at = NOW(),
               updated_by = #{updatedBy}
         WHERE id = #{id}
    </update>

    <select id="findActiveById" resultType="com.basic.backend.domain.entity.ResourceEntity">
        SELECT *
          FROM basic_resource
         WHERE id = #{id}
           AND status = 'ACTIVE'
    </select>

    <update id="increaseViewCount">
        UPDATE basic_resource
           SET view_cnt = view_cnt + 1
         WHERE id = #{id}
    </update>

</mapper>